.image-container {
  height: 250px;
  width: 300px;
}

.dog {
  padding: 0;
  align-self: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dog__image {
  height: 100%;
  object-fit: cover;
}

.dog__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 576px) {
  .image-container {
    height: 150px;
    width: 100%;
  }
}
